@import "../utils.scss";

.template {
  .InfoBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.45rem;
    .date {
      color: $black;
      margin-left: 1.45rem;
      min-width: max-content;
    }
  }
}

.PostTags {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  margin-top: 50px;
  justify-content: flex-start;
  color: $red;
  .Tag {
    min-width: max-content;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 20px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 1rem;
    border: 1px solid $red;
    &:hover {
      background-color: $gray;
    }
  }
}
