.PostGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 400px));
  grid-gap: 5px;
  border: 1px solid white;
  .PostPreview {
    padding: 10px;
    height: 100px;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    color: white;
    &:hover {
      background-color: white;
    }
    .PostLink {
      color: black;
      text-decoration: none;
    }
  }
}
