@import "../utils.scss";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-default;
  color: $black;
  background-color: $white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  margin-bottom: 1.45rem;
  background-color: $gray;
  padding: 1.45rem 1.0875rem;
  .Flex {
    padding: 0;
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Title {
      margin: 0;
    }
    .AllTagsLink {
      color: $red;
      font-size: 1rem;
      font-weight: bold;
      padding: 5px 20px;
      border-radius: 5px;
      border: 1px solid $red;
      &:hover {
        background-color: $white;
      }
    }
  }
}

.BodyLayout {
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}
.AllTags {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  justify-content: flex-start;
  color: $red;
  .Tag {
    min-width: max-content;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 20px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 1rem;
    border: 1px solid $red;
    &:hover {
      background-color: $gray;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b {
  color: $red;
}

s {
  color: $red;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: $font-default;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.058rem;
  line-height: 1.1;
}
h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: $font-default;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.618rem;
  line-height: 1.1;
}
h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: $font-default;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.272rem;
  line-height: 1.1;
}
h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: $font-default;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.75rem;
  color: inherit;
  font-family: $font-default;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.786rem;
  line-height: 1.1;
}
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.05rem;
  color: inherit;
  font-family: $font-default;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.628rem;
  line-height: 1.1;
}

code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
